# Maven target folder
/settings/target/
/target/

# Eclipse, IntelliJ IDEA, and VSCode specific files
/settings/.idea/
/.idea/
/settings/.vscode/
/.vscode/
/settings/*.iml
/*.iml

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Temporary files
*.tmp

# Configuration file
/settings/config.json
/config.json

# Settings and Language user files
/settings/*.json
/*.json

# Translator Server Executable
/settings/Translator/*.*
translator.exe
translator.py
translator.bat

